{% extends "index.html" %} 

{% block title %}Todos{% endblock %}

{% block content %}
  
  <div class="container" id="maincontent" tabindex="-1">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="/static/img/yoga.png" alt="">
                    <div class="intro-text">
                        <h1 class="name"></h1>
                        <hr class="star-light">
                        <span class="skills"> Let's be productive. </span>
                    </div>
                </div>
            </div>
        </div>
    </header>


<!-- Contact Section -->
    <section id="contact">
        <div class="container">
            <script src="https://anvil.works/embed.js" async></script>
            <iframe style="width:100%;" data-anvil-embed src="https://honest-far-lecture.anvil.app"></iframe>
    </div>
</section>
{% endblock %}

{% block footer%}
{% endblock %}
